<div class='col-12' ng-app="myapp"> <!--div 1-->
 
<%=render "user_system" %>

<div class='col-12' ng-view></div>


</div><!--div 1 end-->

     <script src="welcome/app.js"></script>
     <script src='welcome/config/welcome.routes.js'></script>
  
     <script src="welcome/services/image.js"></script>
     <script src="welcome/services/welcomeData.js"></script>
     <script src="welcome/services/loggedInData.js"></script>
     <script src="welcome/directives/w3TestDirective.js"></script>
     
     
     <script src='welcome/controllers/forgotPassCtrl.js'></script>
     <script src='welcome/controllers/userEditCtrl.js'></script>
     <script src='welcome/controllers/aboutCtrl.js'></script>
     <script src='welcome/controllers/loginCtrl.js'></script>
     <script src='welcome/controllers/signUpCtrl.js'></script>
     <script src='welcome/controllers/LandingCtrl.js'></script>
     <script src="welcome/controllers/LondonCtrl.js"></script>
     <script src="welcome/controllers/ParisCtrl.js"></script>
     <script src="welcome/controllers/WelcomeCtrl.js"></script>

