<!DOCTYPE html>
<html>
<head>
  <title>MIGGYMIGS.COM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
</head>
<body>


      <%= yield %>
 
</body>

<script src="foundation.js"></script>

</html>
